{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <i data-feather="shield" class="feather-sm"></i>
                    <span data-translate="Beheerdersdashboard">Beheerdersdashboard</span>
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <i data-feather="users" class="feather-lg mb-3"></i>
                                <h5 class="card-title" data-translate="Gebruikersbeheer">Gebruikersbeheer</h5>
                                <p class="card-text" data-translate="Beheer gebruikers en rollen">Beheer gebruikers en rollen</p>
                                <a href="{{ url_for('admin_users') }}" class="btn btn-primary">
                                    <i data-feather="user-check" class="feather-sm"></i> <span data-translate="Gebruikers beheren">Gebruikers beheren</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <i data-feather="database" class="feather-lg mb-3"></i>
                                <h5 class="card-title" data-translate="Systeeminformatie">Systeeminformatie</h5>
                                <p class="card-text" data-translate="Bekijk systeeminformatie en logs">Bekijk systeeminformatie en logs</p>
                                <a href="#" class="btn btn-secondary disabled">
                                    <i data-feather="activity" class="feather-sm"></i> <span data-translate="Systeem informatie">Systeem informatie</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <i data-feather="settings" class="feather-lg mb-3"></i>
                                <h5 class="card-title" data-translate="Instellingen">Instellingen</h5>
                                <p class="card-text" data-translate="Configureer applicatie-instellingen">Configureer applicatie-instellingen</p>
                                <a href="#" class="btn btn-secondary disabled">
                                    <i data-feather="sliders" class="feather-sm"></i> <span data-translate="Instellingen bekijken">Instellingen bekijken</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 