{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"><span data-translate="Klant Bewerken">Klant Bewerken</span></h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="bedrijfsnaam" class="form-label"><span data-translate="Bedrijfsnaam">Bedrijfsnaam</span></label>
                            <input type="text" class="form-control" id="bedrijfsnaam" name="bedrijfsnaam" value="{{ klant.bedrijfsnaam }}" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="voornaam" class="form-label"><span data-translate="Voornaam">Voornaam</span></label>
                            <input type="text" class="form-control" id="voornaam" name="voornaam" value="{{ klant.voornaam }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="tussenvoegsel" class="form-label"><span data-translate="Tussenvoegsel">Tussenvoegsel</span></label>
                            <input type="text" class="form-control" id="tussenvoegsel" name="tussenvoegsel" value="{{ klant.tussenvoegsel or '' }}">
                        </div>
                        <div class="col-md-4">
                            <label for="achternaam" class="form-label"><span data-translate="Achternaam">Achternaam</span></label>
                            <input type="text" class="form-control" id="achternaam" name="achternaam" value="{{ klant.achternaam }}" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="functie" class="form-label"><span data-translate="Functie">Functie</span></label>
                            <input type="text" class="form-control" id="functie" name="functie" value="{{ klant.functie or '' }}">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label"><span data-translate="Email">Email</span></label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ klant.email }}" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="telefoonnummer" class="form-label"><span data-translate="Telefoonnummer">Telefoonnummer</span></label>
                            <input type="text" class="form-control" id="telefoonnummer" name="telefoonnummer" value="{{ klant.telefoonnummer or '' }}">
                        </div>
                        <div class="col-md-6">
                            <label for="adres" class="form-label"><span data-translate="Adres">Adres</span></label>
                            <input type="text" class="form-control" id="adres" name="adres" value="{{ klant.adres or '' }}">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('klanten') }}" class="btn btn-secondary"><span data-translate="Annuleren">Annuleren</span></a>
                        <button type="submit" class="btn btn-primary"><span data-translate="Wijzigingen Opslaan">Wijzigingen Opslaan</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
